.jtdx-dq {
  position: relative;
}

main {
  margin-top: 32px;
}

main .swiper-container {
  height: 320px;
}

main .swiper-container img {
  width: 100%;
  height: 100%;
}

.left-side {
  width: 33%;
  margin-left: 24px;
}

main .main-announcement .announcement {
  position: relative;
  background: #fff;
  margin-bottom: 24px;
  border-top: 2px solid #BC1C21;
  padding: 12px 0;
}

main .main-announcement .announcement-header {
  padding: 0 18px;
  margin-bottom: 12px;
}

main .main-announcement .announcement-header .title {
  font-size: 18px;
  font-family: Source Han Sans CN;
  font-weight: bold;
  color: #BC1C21;
  line-height: 18px;
}

main .main-announcement .announcement-header .more {
  cursor: pointer;
  font-size: 14px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #626262;
}

main .main-announcement .announcement-list {
  padding: 0 24px;
  font-size: 14px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #565656;
  line-height: 17px;
}

main .main-announcement .announcement-list div {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 6px 0;
  border-bottom: 1px solid #ededed;
}

.main-section {
  border-bottom: 3px solid #BC1C21;
}

.main-section>div:first-child {
  padding: 12px 30px;
  background: #BC1C21;
  color: #fff;
}

.main-section>div:first-child span {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

.main-section>div:first-child .title {
  font-size: 24px;
  font-weight: bold;
}

.main-section>div:first-child .more {
  cursor: pointer;
  line-height: 36px;
}

.main-section .main-news-list {
  display: flex;
  flex-wrap: wrap;
  padding: 24px 16px 24px 24px;
}

.main-section .main-news-list .main-news-list-item {
  position: relative;
  width: 46%;
  margin-right: 40px;
  border-bottom: 1px solid #ededed;
  padding-bottom: 16px;
  margin-bottom: 16px;
}

.main-section .main-news-list .main-news-list-item:nth-child(2n) {
  margin-right: 0;
}

.main-section .main-news-list .main-news-list-item::before {
  content: '';
  width: 10px;
  height: 10px;
  border: 2px solid #BC1C21;
  border-radius: 50%;
  position: absolute;
  top: 6px;
  left: -18px;
}

.main-section .main-profiles-list {
  padding: 28px 16px;
}

.main-section .main-profiles-list .main-profiles-list-item {
  border-bottom: 1px solid #ededed;
  padding-bottom: 16px;
  margin-bottom: 16px;
}

.main-section .main-profiles-list .main-profiles-list-item .title {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.main-section .main-profiles-list .main-profiles-list-item .content {
  font-size: 14px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #afafaf;
  line-height: 20px;
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.main-detail {
  padding-top: 44px;
  background-color: #fff;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}

.main-detail-college {
  width: 33%;
  margin-right: 24px;
  padding: 35px 32px;
  background-color: #BC1C21;
  color: #fff;
  letter-spacing: 0.1em;
  text-align: center;
}

.main-detail-college div {
  font-size: 28px;
  font-weight: 400;
  line-height: 36px;
  white-space: nowrap;
}

.main-detail-college div:first-child {
  position: relative;
  padding-bottom: 18px;
  margin-bottom: 16px;
}

.main-detail-college div:first-child::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 1px;
  background-color: #fff;
  bottom: 0;
  left: 45px;
}

.main-detail-college .more {
  font-size: 14px;
  margin-top: 40px;
}

.main-detail-data {
  padding: 40px;
}

.main-detail-data .content {
  font-size: 14px;
  font-weight: 400;
  color: #353535;
  margin-bottom: 40px;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.main-detail-data .data .data-item {
  max-width: 25%;
}

.main-detail-data .data .data-item em {
  position: relative;
  color: #BC1C21;
  font-size: 48px;
}

.main-detail-data .data .data-item .data-em::after {
  content: '+';
  color: #BC1C21;
  position: absolute;
  right: -16px;
  font-size: 20px;
  top: 6px;
}

.main-detail-data .data .data-item .description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.main-feature {
  margin-top: 24px;
  margin-bottom: 50px;
}

.main-feature .main-feature-item {
  padding: 25px 50px;
  background-color: #BC1C21;
  color: #fff;
  text-align: center;
  margin-bottom: 24px;
}