.pagination-wrapper {
  text-align: center;
  font-size: 16px;
  color: #333;
  padding: 24px 0;
  background-color: #fff;
}
.pagination-wrapper span {
  cursor: pointer;
  padding: 6px 16px;
  border: 1px solid #ddd;
  margin: 0 5px;
  border-radius: 4px;
}
.pagination-wrapper .disabled {
  cursor: not-allowed;
  background-color: #f6f6f6;
}
.pagination-wrapper .active {
  background-color: #bc1c21;
  color: #fff;
  border: none;
}
