.scientific {
  background-color: #fff;
  padding: 32px;
}
.scientific-detail {
  display: flex;
  flex-wrap: wrap;
}
.scientific-detail-item {
  background: #f8f8f8;
  padding: 50px 30px;
  width: 24.6%;
}
.scientific-detail-item .num {
  font-size: 30px;
  font-weight: bold;
  color: #ccc;
  line-height: 30px;
}
.scientific-detail-item .title {
  font-size: 15px;
  font-weight: bold;
  color: #2c2c2c;
  line-height: 18px;
  margin: 30px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.scientific-detail-item .content {
  font-size: 12px;
  font-weight: 400;
  color: #a5a5a5;
  line-height: 18px;
  margin-bottom: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.scientific-detail-item .detail {
  font-size: 12px;
  font-weight: 400;
  color: #a5a5a5;
  line-height: 18px;
}
.scientific-detail-item .detail span:last-child {
  color: #2b2b2b;
  position: relative;
  cursor: pointer;
}
.scientific-detail-item .detail span:last-child::after {
  content: '';
  width: 16px;
  height: 16px;
  border: 1px solid #2b2b2b;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: -3px;
}
